[submodule "third_party/bsdiff"]
    path = third_party/bsdiff
    url = https://github.com/Tonvey/bsdiff.git
    branch = master
[submodule "third_party/LuaJIT"]
    path = third_party/LuaJIT
    url = https://github.com/LuaJIT/LuaJIT.git
    branch = master
