[submodule "third_party/bsdiff"]
    path = third_party/bsdiff
    url = https://github.com/Tonvey/bsdiff.git
    branch = master
[submodule "third_party/lua-poco"]
	path = third_party/lua-poco
	url = https://github.com/ma-bo/lua-poco.git
	branch = master
